

<!--traigo las variables de los resultados por medio del ngfor y las listo
//l30 accedo a la urlimagen del gif por  img[scr] para traerla

-->

<!--
<ul>

<li *ngFor="let gif of resultados">

{{gif.title}}

</li>


</ul>
-->


<div class="row">


<div class="col-md-4 col-sm-6 animate__animated animate__fadeIn" *ngFor="let gif of resultados">


<div class="card">

<img [src]="gif.images.downsized_medium.url" 
[alt]="gif.title"
class="card-image-top">

<div class="card-body">

<p class="card-text">

{{gif.title}}
</p>

</div>
</div>

</div>

</div>